body {
    background-color: rgba(0, 0, 0, 0.96);
}

.input-area {
    padding-top: 70%;
    padding-left: 100px;
    background-color: rgba(0, 0, 0, 0.96);
    color: white;
    margin-bottom: 5%;
    justify-content: center;
    display: flex;
}